[package]
name = "lncli"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
color-eyre = "0.6.1"
cursive = { version = "0.17.0", features = [
    "crossterm-backend",
    "markdown",
    "toml",
] }
lipsum = "0.8.0"
log = "0.4.16"
owo-colors = "3.3.0"
reqwest = { version = "0.11.10", features = ["json"] }
serde = { version = "1.0.136", features = ["derive"] }
tokio = { version = "1.17.0", features = ["full"] }
url = "2.2.2"
visdom = "0.5.1"
