[package]
name = "lncli"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
color-eyre = "0.6.1"
crossterm = "0.23.1"
reqwest = { version = "0.11.10", features = ["json"] }
select = "0.6.0-alpha.1"
tokio = { version = "1.17.0", features = ["full"] }
tui = "0.17.0"
