[package]
name = "lncli"
version = "1.0.0-alpha"
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
color-eyre = "0.6.1"
cursive = { version = "0.17.0", features = [
    "crossterm-backend",
    "markdown",
    "toml",
] }
dirs = "4.0.0"
lipsum = "0.8.0"
log = "0.4.16"
owo-colors = "3.3.0"
parking_lot = { version = "0.12.0", features = ["arc_lock"] }
regex = "1.5.5"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
ureq = "2.4.0"
url = "2.2.2"
visdom = "0.5.1"
